<header>
  <nav class="flex-row align-center space-between padding-inline-4 padding-block-1">
    <div class="img-container pointer">
      <img src="assets/images/logo-removebg.png" alt="">
    </div>
    <div color-dir color="accent" class="right flex-row gap-20 body-text align-center">
      <div class="pointer weight-600 link" routerLink="/"  [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
        Home
      </div>
      <div class="pointer weight-600 link"  routerLinkActive="active">
        Collections
      </div>
      <div class="pointer weight-600 " routerLink="cart" matTooltip="Cart">
        <div class="img-container">
          <img src="assets/images/cart.svg"/>
          <!-- <img src="assets/images/cart-filled.svg"/> -->
        </div>
        <!-- Cart -->
      </div>
      <div class="pointer weight-600 ">
        <button class="weight-500 buy-art" routerLink="create-art">
          Create Sketch
        </button>
      </div>
    </div>
  </nav>
</header>
<!-- to be moved -->
<main>
  <router-outlet></router-outlet>
</main>
<footer>

</footer>